*{
    padding:0;
    margin:0;

}
.header{
    margin-bottom: 15px;
    text-align: center;
}
.head{
    margin:50px 0;
    color:#888;
    text-transform: uppercase;
    font-size: 10px;
}
.header h2{
    margin: 10px 0;
}
.menu{
    border-top: 1px solid rgb(237, 237, 237);
    border-bottom: 1px solid rgb(237, 237, 237);
    height: 50px;
}
.list-menu{
    display: flex;
    margin:auto 20%;
    height: 50px;
}
.list-menu li{
    margin:auto;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}
.title{
    height:20px;
    width:100px;
}
.flex-1{
    margin-top: 40px;
    width:100%;
    height:500px;
    display:flex
}
.left-1{
    position: relative;
    width: 50%;
    height:100%;
}
.left-img-1{
    width:100%;
    height:500px;
    background-size: 100% 100%;
}
.text-1{
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    color:white;
    top:55%;
    height: 45%;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.5)));
}
.text-1 p{
    text-align: center;
}
.text-1 a{
    font-size: 36px;
    font-weight: bolder;
    color:white;
    text-align: center;
    text-decoration:none;
    padding:0 2%;
}
.left-2{
    margin-left: 2%;
    width: 50%;
    height:100%;
}
.background-image-2{
    position: relative;
    width:100%;
    height: 50%;
}
.right-img-2{
    width:100%;
    height:95%;
}
.text-2{
    position: absolute;
    height:100px ;
    font-size: 16px;
    font-weight: bolder;
    top:55%;
    color:white;
    text-align: center;
    width:100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.5)))
}
.text-a{
    font-size:30px;
    color:white;
    text-decoration:none;
}
.background-image-3{
    position: relative;
    width: 50%; 
    height:100%
}
.right-img-3{
    width: 100%; 
    height:100%
}
.text-3{
    position: absolute;
    height:150px ;
    font-size: 16px;
    font-weight: bolder;
    color:white;
    text-align: center;
    width:100%;
    top:38%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.5)))
}
.text-3 h4{
    text-align: center;
}
.text-b{
    font-size:24px;
    color:white;
    text-decoration:none;
}
.left-3{
    margin-top: 2%;
    width: 100%;
    height:48%;
    display:flex;
}
.background-image-4{
    position: relative;
    margin-left: 2%;
    width: 50%;
    height:100%
}
.right-img-4{
    width: 100%; 
    height:100%;
}
.img:hover{
    opacity: 0.5;
}
.text-4{
        position: absolute;
        height:150px ;
        font-size: 16px;
        font-weight: bolder;
        color:white;
        text-align: center;
        width:100%;
        top:38%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.5)))
}
.text-c{
    font-size:24px;
    color:white;
    text-decoration:none;
}
.flex-2{
    position: relative;
    width:100%;
    height:700px;
    display:flex
}
.flex-skincare-1{
    width: 50%
}
.img-1{
    width:100%;
    height:auto;
}
.hover a:hover{
    color:blue;
}
.hover a{
    text-decoration:none;
    color:black
}
.font-icons{
    font-size:14px;
    color:rgb(207, 207, 207);
    margin-bottom: 10px;
}
.font-icons span:hover{
    text-decoration-line:underline;/*chữ gạch chân*/
}
.font-icons a{
    color:rgb(207, 207, 207);
    text-decoration:none;
}
.read-more{
    color:#2e64e6;
    text-decoration:none;
}
.read-more:hover{
    text-decoration-line:underline;
}
.flex-skincare-2{
    width: 50%;
    height:100%;
    margin-left: 2%;
}
.flex-skincare-2-left{
    width: 100%;
    height:50%;
    display:flex
}
.flex-skincare-2-left-1{
    width: 50%;
    height:100%
}
.img-2{
    width:100%;
    height:auto;
}
.flex-skincare-2-left-2{
    width: 50%;
    height:100%;
    margin-left: 2%
}
.flex-skincare-2-right{
    width: 100%;
    height:50%;
    display:flex;
}
.flex-skincare-2-right-1{
    width: 50%;
    height:100%;
}
.flex-skincare-2-right-2{
    width: 50%;
    height:100%;
    margin-left: 2%;
}
.lifestyle-top{
    width:100%;
    height:560px;
    display:flex;
}
.lifestyle-top-1, .lifestyle-bottom-left, .lifestyle-top-2, .lifestyle-bottom-right,
 .hair-style-left,.hair-style-right{
    width: 50%;
    height:100%;
}
.lifestyle-top-2, .lifestyle-bottom-right, .hair-style-right, .nail-center, .nail-right{
    margin-left: 2%;
}
.lifestyle-bottom{
    width:100%;
    height:350px;
    display:flex;
    margin-top: 15px;
}
.lifestyle-bottom-left-1, .lifestyle-bottom-left-2, .lifestyle-bottom-right-1, 
.lifestyle-bottom-right-2{
    width:100%;
    height:50%;
    display:flex;
}
.lifestyle-bottom-left-2, .lifestyle-bottom-right-2{
    margin-top: 15px
}
.hair-style{
    width:100%;
    height:650px;
    display:flex;
}
.hair-style-right-1{
    width:100%;
    height:24%;
    display:flex;
}
.hair-style-right-1-1, .hair-style-right-1-2, .hair-style-right-1-3,
 .hair-style-right-1-4{
    height:100%;
    display:flex;
}
.hair-style-right-1-1{
    width:37%;
}
.hair-style-right-1-2{
    width:30%;
}
.hair-style-right-1-3{
    width:28%;
}
.hair-style-right-1-4{
    width:31%;
}
.nail{
    width:100%;
    height:900px;
    display:flex;
}
.nail-left, .nail-center, .nail-right{
    width: 32%;
    height:100%
}
.nail-left-1, .nail-left-2, .nail-center-1, .nail-center-2, .nail-right-1, .nail-right-2{
    width: 100%;
    height:50%;
}
.nail-left-2, .nail-center-2, .nail-right-2{
    margin-top:20px;
}
.hover-1{
    text-transform: uppercase;
}
.hover-1 a{
    text-decoration:none;
    color:#2e64e6;
    font-weight: 700;
}
.a-1:hover, .a-2:hover{
    text-decoration-line:underline;
}
.hover{
    margin-top:10px;
    margin-bottom: 10px;
}
.margin-left{
    margin-left:20px;
}
.img-3{
    width:100%
}
.font-1{
    text-transform: uppercase;
    margin-bottom: 15px;
}
.img-4{
    width:100%;
    height:auto
}
.center{
    text-align: center;
}
.center img{
    border-bottom: 4px solid rgba(0,0,0,0.1);
}
.margin-top{
    margin-top: 15px;
    text-align: left;
}
.float{
    margin-bottom: 15px;
    margin-top: 40px;
}
.float a:last-child {
    float:right;
    text-decoration:none;
    color:#CCCCCC;
}
.float a:first-child{
    color:#333;
    text-decoration:none;
    font-weight: 700;
    text-transform: uppercase;
}
.float a:hover{
    color:#2e64e6;
}
.footer{
    background-color: #282c36;
}
.footer-font{
    padding:2% 5%;
}
.footer-font h3{
    text-transform: uppercase;
    color:#fff
}
.footer-font p{
    color:rgba(255,255,255,.8);
    width:32%;
    margin: 20px 0;;
}
.contact{
    margin:2% 5%;
    display: flex;
}
.contact, .contact a{
    color:#888;
}
.contact ul{
    float:right;
    display: flex;
    list-style-type: none;
    
}
.contact li:first-child{
    margin-right: 10px;
}
.contact a{
    text-decoration:none;
}
.contact a:hover{
    color:#2e64e6;
    text-decoration-line:underline;
}